<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Welcome to Game World</h1>
      <p>Select game from the catalog to view details.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let g of game$ | async | paginate: { itemsPerPage:6, currentPage: p }">
      <div class="card mb-4 text-white bg-dark">
        <img class="card-img-top" src="{{g.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{g.title}}</h5>
          <p class="card-text">{{g.genre}}</p>
          <a [routerLink]="['/game/details', g._id]" class="btn btn-outline-light btn-sm">Details</a>
          <a *ngIf="authService.isAdmin()" (click)="deleteGame(g._id)" class="btn btn-outline-light btn-sm">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p =$event"></pagination-controls>